.Project {
    height: auto;
    width: 300px;
    display: none;
    background: rgb(111, 150, 20);
    background: linear-gradient(135deg, rgb(115, 160, 9) 25%, rgb(56, 158, 25) 100%);
    margin: 5px;
    text-decoration: none;
    color: white;
    border: rgba(255, 255, 255, 0.651);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}

#AboutMeContainer {
    background: rgb(25,25,112);
   
    background: linear-gradient(135deg, rgba(25,25,112,1) 0%, rgba(45,45,200,1) 100%);
}

.SkillsRowContainer {
    margin: auto;
    height: auto;
    width: 80%;
    background: rgb(25,25,112);
    background: linear-gradient(135deg, rgba(25,25,112,1) 0%, rgba(45,45,200,1) 100%);
}

#SkillsTypeRowTemplate {
    display: none;
}
